<a href="https://colab.research.google.com/github/Mars096/ISYS5002_protlifio/blob/main/revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exceptions

#Three blocks
#try
#except
#finally

In [11]:
age=input("How old are you?")
age=int(age_input)
#there is an error on the following line. Icannot work out it is 
print("Wow you are"+str(age))

How old are you?11

NameError: ignored

In [5]:
try:
  age=input("How old are you?")
  age=int(age_input)
  print("Wow you are"+str(age))
  except TypeError as e:
    print(e)
  except Exception as e:
    print("Here is the exception message",e)

SyntaxError: ignored

In [10]:
num1=int(input("please input the first number"))
num2=int(input("please input the second number"))
print("num1 divided by num2 is", num1/num2)
except ValueError
print("please enter digits do not spell the word")
except ZeroDivisionError
print("Here is the exception message")

SyntaxError: ignored

In [ ]:
#webscraping-table

In [ ]:
#Has the following HMTL
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

In [14]:
#0.Install Libraries
!pip install kora -q
#1. Import Libraries
from kora.selenium import wd
from bs4 import BeautifulSoup

#2.set up URL
URL='https://www.abs.gov.au/statistics/economy/key-indicators'

#3.Visit Page
wd.get(URL)

#4.Get HTML
soup=BeautifulSoup(wd.page_source,"html.parser")

table=soup.find('table')

In [15]:
len(table)

8

In [18]:
body=table[0].find_all("tbody")
body.find_all('tr')

<tbody><tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column"><a href="/statistics/economy/national-accounts/australian-national-accounts-national-income-expenditure-and-product/jun-2021">Gross domestic product GDP, Chain volume measures - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column">Jun Qtr 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column">505,134</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column">0.7%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column">9.6%</td></tr><tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column"><a href="/statistics/economy/national-accounts/australian-national-accounts-national-income-expenditure-and-product/jun-2021">Gross domestic product GDP, Chain volume measures - annual (a)</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column">2020-21</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column">1,975,866</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column">1.4%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column">na</td></tr></tbody>

In [20]:
body=table[1].find("tbody")
body.find_all('tr')

[<tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/international-trade-goods-and-services-australia/aug-2021">Balance on Goods and Services - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">August 20121</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">15,077</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">-</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">-</td></tr>,
 <tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/international-trade-goods-and-services-australia/aug-2021">Total Goods and Services Credits - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">August 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">48,524</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">4.1%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">-3.7%</td></tr>,
 <tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/international-trade-goods-and-services-australia/aug-2021">Total Goods and Services Debits - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">August 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">33,466</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">-1.5%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">1.5%</td></tr>,
 <tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/balance-payments-and-international-investment-position-australia/jun-2021">Balance on Current Account - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">June 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">20,461</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">na</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">na</td></tr>,
 <tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/balance-payments-and-international-investment-position-australia/jun-2021">Net International Investment Position (IIP) - original</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">June 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">885,123</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">-3.26%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">na</td></tr>,
 <tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column--2"><a href="/statistics/economy/international-trade/balance-payments-and-international-investment-position-australia/jun-2021">Net Foreign Debt - original</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column--2">June 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column--2">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column--2">1,186,356</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column--2">1.94%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column--2">na</td></tr>]

In [22]:
table= soup.find_all("table")
for table in tables:
  print("\n\n New Table")
  tbody=table.find('tbody')
  rows=tbody.find_all('tbody')
  for row in rows:
    data=row.find_all('td')
    for d in data:
      print(d.text)

NameError: ignored

In [26]:
#0.Install Libraries
!pip install kora -q
#1. Import Libraries
from kora.selenium import wd
from bs4 import BeautifulSoup
import pandas as pd
#2.set up URL
URL='https://www.abs.gov.au/statistics/economy/key-indicators'

#3.Visit Page
wd.get(URL)

#4.Get HTML
soup=BeautifulSoup(wd.page_source,"html.parser")

list_of_tables_as_df=pd.read_html(wd.page_source)
len(list_of_tables_as_df)

8

In [27]:
list_of_tables_as_df[1]

                                           Indicator  ... Change same period last year
0  Balance on Goods and Services - seasonally adj...  ...                            -
1  Total Goods and Services Credits - seasonally ...  ...                        -3.7%
2  Total Goods and Services Debits - seasonally a...  ...                         1.5%
3   Balance on Current Account - seasonally adjusted  ...                           na
4  Net International Investment Position (IIP) - ...  ...                           na
5                        Net Foreign Debt - original  ...                           na

[6 rows x 6 columns]