<a href="https://colab.research.google.com/github/Mars096/ISYS5002_protlifio/blob/main/sql_shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [3]:
import sqlite4

ModuleNotFoundError: ignored

## Create a connection

We use the connect method and pass the name of the database

In [7]:
sqliteConnection=sqlite3.connet('mytest.db')

NameError: ignored

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [6]:
cursor= sqliteConnection.cursor()

NameError: ignored

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [4]:
sql_command="""
CREATE TABLE USER(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
name TEXT,
age INTEGER
);
"""

In [5]:
cursor.execute(sql_command)

NameError: ignored

# Insert into Table

In [ ]:
sql_command_2="""
INSERT INTO user VALUES(0,'Mars',25);
"""

In [ ]:
cursor.execute(sql_command_2)

## Fetching Data

In [ ]:
sql_command="""
SELECT*FROM user;
"""

In [ ]:
cursor.fetchall()

## Updating Data

## Delete Data

## View Schema

In [ ]:
sqi_command="""
SELECT name FROM sqlite_master WHERE type='table';
"""
cursor.execute(sql_command)
results= cursor.fetchall()

print(results)
table_list=[]
for result in results:
  if result[0]!='sqlite_sequence':
   table_list.append(result[0])

print(table_list)
list_of_table=[X[0]for X in results if result[0]!='sqlite_sequence']
list_of_table

#print(results)
#results

## Delete Table

In [ ]:

for table in list_of_table:
  cursor.execute("PRAGMA table_into('%s')"% table)
  results=cursor.fetchall()
  col_name=[x[1]for x in results]
  print(table+':'+str(col_name))